.right{
    position: absolute;
    right: 0px;
    top: 5px;
}

.search-div{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.search-input{
    width: 60%;
    height: 22px;
    padding: 5px;
    margin-right: 10px;
    outline: none;
}

.div-main{
    width: 70%;
    height: auto;
    margin: 0 auto;
    text-align: left;
}

.text-link{
    color: blue;
    margin-left: 15px;
    border-bottom: 1px solid;
    float: right;
    outline: none;
}

.text-link:hover{
    cursor: pointer;
    color: white;
}